app-nav {
  width: 100%;
}

.shell-better-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .row-grid {
    height: 500px;
    width: 100%;

    display: flex;
    gap: 1rem;

    .app-card {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 24px;
      background: #fff;

      border: 1px solid #fff;
      box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 100%);
      border-radius: 8px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        font-family: 'Roboto';
      }
    }
  }
}
