.shell-better-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .tabs {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 1rem;

    button {
      font-family: 'Roboto';
      cursor: pointer;
      background: transparent;
      border: transparent;
      border-bottom: 1px solid color.$border-color-dark-theme;
      height: 48px;
    }

    .tab-selected, button:hover{
      border-bottom: 3px solid color.$border-color-dark-theme;
      font-weight: bold;
    }
  }

  .mfe-renderizer {
    border: 1px solid color.$border-color-dark-theme;
    width: 80%;
    height: 80vh;
  }
}
