<div class="wrapper-mfe-drink-water-reminder">
  <div class="circle">
    <span class="qntd-drinking-water">
      {{ml}}/<b>{{goalOfTheDay}}ml</b>
    </span>
    <span>objetivo diário</span>
  </div>

  <ng-container *ngIf="goalOfTheDayAchieved">
    <div class="box-status-message" #boxStatusMsg>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#fff"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
      </span>
      <p>Objetivo do dia concluído. Parabéns!</p>
      <span class="icon-close-status-message" (click)="closeBoxStatusMessage()">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px" fill="#fff"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
      </span>
    </div>
  </ng-container>

  <div class="box-buttons">
    <button type="button" (click)="decreaseAmountOfWater()" ngClass="{{ml === 0 ? 'btn-disabled' : ''}}" >desfazer</button>
    <button type="button" (click)="increaseAmountOfWater()" ngClass="{{goalOfTheDayAchieved ? 'btn-disabled' : ''}}" >+ {{qntdToBeIncreasedOrDecreased}}ml</button>
  </div>
</div>
